<ion-modal-view>
    <ion-header-bar class="bar-positive">
	<button class="button button-positive" ng-click="skipTutorial()">Skip</button>
	<h2 class="title">Review Tutorial</h2>
	<button class="button button-positive" ng-click="nextStep()">Next</button>
    </ion-header-bar>
    <ion-content>
	<div class="tutorialImage">
            <img ng-show="tutorialstep == 1" ng-src="Tutorial-Pictures/Step1.png">
	    <img ng-show="tutorialstep == 2" ng-src="Tutorial-Pictures/Step2.png">
	    <img ng-show="tutorialstep == 3" ng-src="Tutorial-Pictures/Step3.png">
    	</div>
    </ion-content>
</ion-modal-view>
