<div id="questionsPage">
    <ion-content class="padding">
        <form ng-submit="submitCheck()" id="questionForm">
            <div class="list list-inset">
	        <h3 class="questionHeader">{{question.Num1}}</h3>
	    	<div style="text-align:center">
	    	    <star-rating rating-value="choice.Question1" max="11"></star-rating>
		</div
	    </div>
            <br />
	    <div id="commentArea" ng-show="choice.Question1 == 7 || choice.Question1 == 8">
		<h3>{{question.Num2}}</h3>
		<textarea id="commentBox" rows="5" cols="40" ng-model="commentBox" placeholder="Type your comment here..."></textarea>
	    </div>
	    <br />
	    <br />
            <div id="questionSubmit">
                <button type="submit" class="button button-positive">
                    Submit
                </button>
            </div>
        </form>
    </ion-content>
</div>
